<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaef.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Паспорт </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
    <link rel="stylesheet" href="css/location.css">
    <link rel="stylesheet"  type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<!--<header th:insert="blocks/header :: header"></header>-->


<div class="sidebar" th:insert="blocks/navication :: nav" ></div>

<div  class="content container mt-5">
    <div class="btn-group">
        <button  onclick="location.href='/animal_passports/organization_id'" class="btn w-50 btn-sm btn-primary">Паспорта животных</button>
        <button  onclick="location.href='#'" class="btn w-50 btn-sm ">Рацион кормления</button>
        <br>
    </div>
    <br>
    <form action="/animal_passports/organization_id" method="get"  >
        <input placeholder="Поиск по ID" class="w-50" type="text" name="externalId" id="externalId">
        <button   class="btn w-25 btn-sm btn-primary" type="submit">Поиск</button><br/>
    </form><br/>
    <button style="float: right;" onclick="location.href='#'" class="btn w-50 btn-sm btn-primary">Добавить паспорт</button>

    <h1>Паспорт</h1>
    <div  class="alert alert-primary mt-2">

        <h3 th:utext="${'<strong>ID:</strong> ' + passport.getExternalId}"></h3>
        <h4 th:utext="${'<strong>Кличка:</strong> ' + passport.getNickname}"></h4>
        <h4 th:utext="${'<strong>Масть, порода:</strong> ' + passport.getBreed}"></h4>
        <h4 th:utext="${'<strong>Пол:</strong> ' + passport.getSex}"></h4>
        <h4 th:utext="${'<strong>Дата рождения:</strong> ' + passport.getBirthDate}"></h4>
        <h4 th:utext="${'<strong>Наименование объекта:</strong> ' + passport.farm.getName}"></h4>
        <h4 th:utext="${'<strong>Отвественное лицо:</strong> ' + passport.getFormerName}"></h4>
        <h4 th:utext="${'<strong>Страна происхождения:</strong> ' + passport.getOriginCountry}"></h4>
        <h4 th:utext="${'<strong>Номер животного в стране происхождения:</strong> ' + passport.getExternalIdInOriginCountry}"></h4>
        <h4 th:utext="${'<strong>Владелец при рождении:</strong> ' + passport.originalOwnerFarm.getName}"></h4>
        <h4 th:utext="${'<strong>Дата выдачи паспорта:</strong> ' + passport.getCreatedDate}"></h4>
        <h4 th:utext="${'<strong>Племенное животное:</strong> ' + passport.getBreedingAnimal}"></h4>

        <div class="form-row" th:if="${passport.mother!=null}">
            <div class="col-sm-12">
                <h4 th:utext="${'<strong>Мать:</strong> ' + passport.mother.getExternalId}"></h4>
            </div>
        </div>
        <div class="form-row" th:if="${passport.father!=null}">
            <div class="col-sm-12">
                <h4 th:utext="${'<strong>Отец:</strong> ' + passport.father.getExternalId}"></h4>
            </div>
        </div>
        <h4 th:utext="${'<strong>Группа кормления:</strong> ' + passport.feedGroup.getType}"></h4>
        <br>
        <div >
            <button  onclick="location.href='#'" class="btn btn-sm btn-primary w-100">Посмотреть группу кормления</button><br><br>
            <button  onclick="location.href='#'" class="btn btn-sm btn-primary w-100">Изменить</button>
            <br>
        </div>
    </div>
</div>
<!--<footer th:insert="blocks/footer :: footer"></footer>-->
</body>
</html>
