<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Калькулятор рационов кормления KPC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="sidebar" th:insert="blocks/navication :: nav" ></div>

<div class="content container mt-5">
    <div class="text-center">
        <h2>Калькулятор</h2>
        <p class="lead">рационов кормления KPC</p>
    </div>
    <h4>Контроль рациона</h4>
    <table class="table table-striped mt-3" >
        <thead>
        <tr>
            <th>Группа животных</th>
            <th>Килограммы корма</th>
            <th>Корм. ед.</th>
            <th>Обмен.энерг. (ОЭ), МДж</th>
            <th>Структура по ОЭ, %</th>
            <th>Сухое в-во, г.</th>
            <th>Сырой протеин,г</th>
            <th>Перев.протеин, г</th>
            <th>сыр. жир, г</th>
            <th>сыр.клетчатка,г</th>
            <th>крахмал,г</th>
            <th>Сахар,г</th>
            <th>кальций,г</th>
            <th>Фосфор,г</th>
            <th>Магний,г</th>
            <th>Калий,г</th>
            <th>Сера,г</th>
            <th>Железо, мг</th>
            <th>Медь, мг</th>
            <th>Цинк, мг</th>
            <th>Марганец, мг</th>
            <th>Кобальт, мг</th>
            <th>Йод, мг</th>
            <th>Каротин, мг</th>
            <th>Вит. Д, МЕ</th>
            <th>Вит. Е, мг</th>
<!--            <th>ЛФУ</th>-->
<!--            <th>мин</th>-->
<!--            <th>макс</th>-->
        </tr>
        </thead>
        <tbody id="feedgroup-table-body">
        <tr>
            <td>Норма</td></tr>
        <tr id="data-row">
            <td id="stand" >
                <select class="form-select" style="width: 300px" oninput="addRowStandard(this)">
                    <option value="">Выберите</option>
                    <option th:each="feedgroup:${feedgroups}"
                            th:value="${feedgroup.type}"
                            th:utext="${feedgroup.type}"
                            th:data-feedUnit="${feedgroup.nutrients.feedUnit}"
                            th:data-energyExchange="${feedgroup.nutrients.energyExchange}"
                            th:data-dryMatter="${feedgroup.nutrients.dryMatter}"
                            th:data-dryProtein="${feedgroup.nutrients.dryProtein}"
                            th:data-digestedProtein="${feedgroup.nutrients.digestedProtein}"
                            th:data-rawFat="${feedgroup.nutrients.rawFat}"
                            th:data-rawFiber="${feedgroup.nutrients.rawFiber}"
                            th:data-starch="${feedgroup.nutrients.starch}"
                            th:data-sugar="${feedgroup.nutrients.sugar}"
                            th:data-calcium="${feedgroup.nutrients.calcium}"
                            th:data-phosphorus="${feedgroup.nutrients.phosphorus}"
                            th:data-magnesium="${feedgroup.nutrients.magnesium}"
                            th:data-potassium="${feedgroup.nutrients.potassium}"
                            th:data-sulfur="${feedgroup.nutrients.sulfur}"
                            th:data-ferrum="${feedgroup.nutrients.ferrum}"
                            th:data-copper="${feedgroup.nutrients.copper}"
                            th:data-zins="${feedgroup.nutrients.zins}"
                            th:data-manganese="${feedgroup.nutrients.manganese}"
                            th:data-cobalt="${feedgroup.nutrients.cobalt}"
                            th:data-iodine="${feedgroup.nutrients.iodine}"
                            th:data-carotene="${feedgroup.nutrients.carotene}"
                            th:data-vitaminE="${feedgroup.nutrients.vitaminE}"
                            th:data-vitaminD="${feedgroup.nutrients.vitaminD}">
                           >
                    </option>
                </select>
            </td>
        </tr>
        <tr id = "real">
            <td>Фактически содержится в рационе</td>
            <td id="kg"></td>
            <td id = "feedUnit"></td>
            <td id = "energyExchange"></td>
            <td id = "structura"></td>
            <td id = "dryMatter"></td>
            <td id = "dryProtein"></td>
            <td id = "digestedProtein"></td>
            <td id = "rawFat"></td>
            <td id = "rawFiber"></td>
            <td id = "starch"></td>
            <td id = "sugar"></td>
            <td id = "calcium"></td>
            <td id = "phosphorus"></td>
            <td id = "magnesium"></td>
            <td id = "potassium"></td>
            <td id = "sulfur"></td>
            <td id = "ferrum"></td>
            <td id = "copper"></td>
            <td id = "zins"></td>
            <td id = "manganese"></td>
            <td id = "cobalt"></td>
            <td id = "iodine"></td>
            <td id = "carotene"></td>
            <td id = "vitaminE"></td>
            <td id = "vitaminD"></td>
        </tr>
        <tr id = "variance">
            <td>Отклонение от нормы</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        </tbody>
    </table>
    <button  onclick="location.href='/feedgroups/add'" class="btn btn-sm btn-primary w-25">Создать группу</button><br><br>
    <h4>Подбор рациона</h4>
    <table class="table table-striped mt-3" >
        <thead>
        <tr>
            <th>Корм</th>
            <th>Килограммы корма</th>
            <th>Корм. ед.</th>
            <th>Обмен.энерг. (ОЭ), МДж</th>
            <th>Структура по ОЭ, %</th>
            <th>Сухое в-во, г.</th>
            <th>Сырой протеин,г</th>
            <th>Перев.протеин, г</th>
            <th>сыр. жир, г</th>
            <th>сыр.клетчатка,г</th>
            <th>крахмал,г</th>
            <th>Сахар,г</th>
            <th>кальций,г</th>
            <th>Фосфор,г</th>
            <th>Магний,г</th>
            <th>Калий,г</th>
            <th>Сера,г</th>
            <th>Железо, мг</th>
            <th>Медь, мг</th>
            <th>Цинк, мг</th>
            <th>Марганец, мг</th>
            <th>Кобальт, мг</th>
            <th>Йод, мг</th>
            <th>Каротин, мг</th>
            <th>Вит. Д, МЕ</th>
            <th>Вит. Е, мг</th>
<!--            <th>ЛФУ</th>-->
<!--            <th>мин</th>-->
<!--            <th>макс</th>-->
        </tr>
        </thead>
        <tbody id="feed-table-body">
        <tr>
            <td >
                <select class="form-select" style="width: 300px" onchange="addRow(this)">
                    <option value="">Выберите</option>
                    <option th:each="feed:${feeds}"
                            th:value="${feed.name}"
                            th:utext="${feed.name}"
                            th:data-feedUnit="${feed.nutrients.feedUnit}"
                            th:data-energyExchange="${feed.nutrients.energyExchange}"
                            th:data-dryMatter="${feed.nutrients.dryMatter}"
                            th:data-dryProtein="${feed.nutrients.dryProtein}"
                            th:data-digestedProtein="${feed.nutrients.digestedProtein}"
                            th:data-rawFat="${feed.nutrients.rawFat}"
                            th:data-rawFiber="${feed.nutrients.rawFiber}"
                            th:data-starch="${feed.nutrients.starch}"
                            th:data-sugar="${feed.nutrients.sugar}"
                            th:data-calcium="${feed.nutrients.calcium}"
                            th:data-phosphorus="${feed.nutrients.phosphorus}"
                            th:data-magnesium="${feed.nutrients.magnesium}"
                            th:data-potassium="${feed.nutrients.potassium}"
                            th:data-sulfur="${feed.nutrients.sulfur}"
                            th:data-ferrum="${feed.nutrients.ferrum}"
                            th:data-copper="${feed.nutrients.copper}"
                            th:data-zins="${feed.nutrients.zins}"
                            th:data-manganese="${feed.nutrients.manganese}"
                            th:data-cobalt="${feed.nutrients.cobalt}"
                            th:data-iodine="${feed.nutrients.iodine}"
                            th:data-carotene="${feed.nutrients.carotene}"
                            th:data-vitaminE="${feed.nutrients.vitaminE}"
                            th:data-vitaminD="${feed.nutrients.vitaminD}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button  onclick="location.href='#'" class="btn btn-sm btn-primary w-25">Сохранить рацион</button>
    <button  onclick="location.href='#'" class="btn btn-sm btn-primary w-25">Печать общей информации в Excel</button>
    <button  onclick="location.href='#'" class="btn btn-sm btn-primary w-25">Печать всей информации в Excel</button><br><br>
</div>
<script>
    function addRow(selectElement) {
        if (selectElement.value) {
            const selectedOption = selectElement.selectedOptions[0];
            const nutrients = [
                'feedUnit', 'dryMatter','nulll' , 'dryProtein', 'energyExchange', 'digestedProtein', 'rawFat', 'rawFiber',
                'starch', 'sugar', 'calcium', 'phosphorus', 'magnesium', 'potassium', 'sulfur', 'ferrum', 'copper',
                'zins', 'manganese', 'cobalt', 'iodine', 'carotene', 'vitaminE', 'vitaminD'
            ];

            const rowData = [
                selectElement.value,
                '<input type="number" class="form-control" value="1" oninput="updateRow(this)">'
            ];

            nutrients.forEach(nutrient => {
                if(nutrient === 'nulll'){
                    rowData.push(' ');
                }
                else {  rowData.push(selectedOption.getAttribute(`data-${nutrient}`));}

            });

            const tableBody = document.getElementById('feed-table-body');
            const newRow = document.createElement('tr');

            rowData.forEach(data => {
                const newCell = document.createElement('td');
                if(data == null){
                    //newCell.textContent = ' ';
                    newRow.appendChild(newCell);
                }
                else {
                    if (typeof data === 'string' && data.includes('<input')) {
                        newCell.innerHTML = data;
                    } else {
                        newCell.textContent = data;
                        newCell.setAttribute('data-original-value', data);
                    }
                    newRow.appendChild(newCell);
                }
            });

            tableBody.insertBefore(newRow, selectElement.parentElement.parentElement);

            selectElement.value = '';
            // Вызываем пересчет сумм по столбцам
             updateTotals();
        }
    }

    function updateRow(inputElement) {
        const quantity = parseFloat(inputElement.value);
        const row = inputElement.parentElement.parentElement;
        const cells = row.children;

        for (let i = 2; i < cells.length && i != 4; i++) {
            const cell = cells[i];
            const originalValue = parseFloat(cell.getAttribute('data-original-value'));
            if (!isNaN(originalValue)) {
                cell.textContent = (originalValue * quantity).toFixed(2);
            }
        }
        // Вызываем пересчет сумм по столбцам
        updateTotals();
    }

    function addRowStandard(selectElement) {
        if (selectElement.value) {
            const selectedOption = selectElement.selectedOptions[0];
            const nutrients = [
                'feedUnit','dryMatter', '100%', 'dryProtein',  'energyExchange', 'digestedProtein', 'rawFat', 'rawFiber',
                'starch', 'sugar', 'calcium', 'phosphorus', 'magnesium', 'potassium', 'sulfur', 'ferrum', 'copper',
                'zins', 'manganese', 'cobalt', 'iodine', 'carotene', 'vitaminE', 'vitaminD'
            ];

            const rowData = [
                ''
            ];

            nutrients.forEach(nutrient => {
                let value = selectedOption.getAttribute(`data-${nutrient}`);
                // Умножаем значение сухого вещества на 1000
                if (nutrient === 'dryMatter' && value) {
                    value = (parseFloat(value) * 1000).toString();

                }
                if (nutrient === '100%') {
                    value = "100%";

                }
                rowData.push(value);
            });

            const tableBody = document.getElementById('feedroup-table-body');
            const row = document.getElementById("data-row");

            rowData.forEach((data, index) => {
                // Смещаем индекс на 1, чтобы пропустить первую ячейку
                let actualIndex = index + 1;
                let existingCell = row.cells[actualIndex];

                // Если ячейка уже существует, обновляем её данные
                if (existingCell) {
                    if (typeof data === 'string' && data.includes('<input')) {
                        existingCell.innerHTML = data;
                    } else {
                        existingCell.textContent = data;
                        existingCell.setAttribute('data-original-value', data);
                    }
                }
                // Если ячейки нет, создаём новую и заполняем её
                else {
                    const newCell = document.createElement('td');
                    if (typeof data === 'string' && data.includes('<input')) {
                        newCell.innerHTML = data;
                    } else {
                        newCell.textContent = data;
                        newCell.setAttribute('data-original-value', data);
                    }
                    row.appendChild(newCell);
                }
            });

            // Если строка уже существует в таблице, обновляем её; если нет, вставляем её
            if (!row.parentElement) {
                tableBody.insertBefore(row, selectElement.parentElement.parentElement);
            }
        }
    }

    function updateTotals() {
        const tableBody = document.getElementById('feed-table-body');
        const rows = tableBody.querySelectorAll('tr');
        const totalsRow = document.getElementById('real');
        const totalsCells = totalsRow.children;
        const totalsRowStand = document.getElementById('stand');
        const totalsCellsStand = totalsRowStand.children;


        // Инициализируем массив для хранения сумм
        const totals = new Array(totalsRow.length).fill(0);

        totals[1] = 0;
        totals[2] = 0;
        totals[3] = 0;
        totals[4] = 0;
        totals[5] = 0;
        totals[6] = 0;
        totals[7] = 0;
        totals[8] = 0;
        totals[9] = 0;
        totals[10] = 0;
        totals[11] = 0;
        totals[12] = 0;
        totals[13] = 0;
        totals[14] = 0;
        totals[15] = 0;
        totals[16] = 0;
        totals[17] = 0;
        totals[18] = 0;
        totals[19] = 0;
        totals[20] = 0;
        totals[21] = 0;
        totals[22] = 0;
        totals[23] = 0;
        totals[24] = 0;
        totals[25] = 0;
        rows.forEach(row => {
            const cells = row.children;

                    // const cellValue = parseFloat(cells[1].valueOf());
                if (cells[1] && cells[1].querySelector('input[type="number"]')) {
                    const kgCell = cells[1].querySelector('input');
                    let kgValue = 1; // default value
                    if (kgCell) {
                        kgValue = parseFloat(kgCell.value);
                        if (isNaN(kgValue)) {
                            kgValue = 0;
                        }
                    }

                    totals[1] += kgValue;
                }


            for (let i = 2; i < cells.length; i++) {
                const cellValue = parseFloat(cells[i].textContent);
                if (!isNaN(cellValue)) {
                    if(i==4){

                    }
                    else{
                    totals[i] += cellValue;
                    }
                }
            }
        });

        // Обновляем ячейки в строке с фактическими значениями

        totalsCells[1].textContent = totals[1];

        // Обновляем процентное соотношение для каждой строки
        rows.forEach(row => {
            const cells = row.children;
            if (cells[3] != null) {
                const dataRow = document.getElementById('data-row');
                const cellsData = dataRow.children;
                // Считываем значения из "data-row"
                const cellValueSt = parseFloat(cellsData[3].textContent);

                if (!isNaN(cellValueSt)) {
                    cellValue = parseFloat(cells[3].textContent);
                    if (!isNaN(cellValue)) {
                        const percentageCell = cells[4];
                        percentageCell.textContent = ((cellValue / cellValueSt) * 100).toFixed(2) + '%';
                    }
                }

                const cellValue2 = parseFloat(cells[4].textContent);
                if (!isNaN(cellValue2)) {
                    totals[4] += cellValue2;
                }




            }
        });

        for (let i = 2; i < totalsCells.length ; i++) {
            if(i== 4 ){
                totalsCells[4].textContent = totals[4].toFixed(2) + "%";
            }
            else{
            totalsCells[i].textContent = totals[i].toFixed(2);}

        }



         updateVariance();
    }

    function updateVariance() {
        const tableBody = document.getElementById('feedgroup-table-body');
        const rows = tableBody.querySelectorAll('tr');
        const totalsRowStand = document.getElementById('stand');
        const totalsCellsStand = totalsRowStand.children;
        const totalsRowVar = document.getElementById('variance');
        const totalsCellsVar = totalsRowVar.children;

        // Инициализируем массив для хранения разностей
        const totalsStand = new Array(totalsCellsStand.length).fill(0);

        // Обрабатываем строку с данными "data-row"
        const dataRow = document.getElementById('data-row');
        const cellsData = dataRow.children;
        const dataRowReal = document.getElementById('real');
        const cellsDataReal = dataRowReal.children;

        // Считываем значения из "data-row"
        for (let i = 2; i < cellsData.length ; i++) {

            const cellValue = parseFloat(cellsData[i].textContent);
            const cellValueReal = parseFloat(cellsDataReal[i].textContent);
            if (!isNaN(cellValue)) {
                totalsStand[i] = cellValue - cellValueReal;
            }
        }


        for (let i = 2; i < totalsCellsVar.length ; i++) {
            if(i==4){
                totalsCellsVar[4].textContent = totalsStand[4].toFixed(2) + "%";
            }
            else{
            totalsCellsVar[i].textContent = totalsStand[i].toFixed(2);
             }
        }
    }

</script>
</body>
</html>
