<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проверка кода</title>
</head>
<body>
<div class="album py-5 bg-light">
    <h4>Введите код для проверки</h4>
    <br>
    <input type="number" class="form-control" id="receivedCod">
    <br>
    <input type="number"  th:value="${cod}" id="sendCod" style="opacity: 0" >
    <br><br>
    <button class="w-75 btn btn-primary btn-lg" type="submit" id="method"  onclick="checking(receivedCod.value)">Проверить</button>
</div>
<div id="id"></div>
</div>
<script >
    function checking(receivedCod){
        var sendCod = document.getElementById('sendCod').value;
        console.log(sendCod);
        if(Number(receivedCod)===Number(sendCod))
        {console.log("верно");
            setTimeout(function(){
                window.location.href = 'http://localhost:8088/';
            }, 5 * 1000);
        }
        else console.log("не верно")
    }
</script>
</body>
</html>